div.paging {
    padding     : 12px;
    margin      : 12px;
    text-align  : center;
    font-family : Tahoma;
    font-size   : 12px;
}
div.paging a {
    padding             : 6px 10px;
    margin-right        : 2px;
    border              : 1px solid #DEDFDE;
    text-decoration     : none;
    color               : black;
    background-position : top;
    background-color: green;
}
div.paging a:hover {
    background-color: red;
    border : 1px solid #fff;
    color  : #fff;
}
div.paging span.current {
    border : 1px solid #DEDFDE;
    padding      : 2px 6px;
    margin-right : 2px;
    font-weight  : bold;
    color        : #FF0084;
}
div.paging span.disabled {
    padding      : 2px 6px;
    margin-right : 2px;
    color        : #ADAAAD;
    font-weight  : bold;
}
div.paging span.prevnext {   
  font-weight : bold;
}
div.paging span.prevnext a {
     border : none;
}
div.paging span.prevnext a:hover {
    display: block;
    border : 1px solid #fff;
    color  : #fff;
}